/* .App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  border-left: 5px solid lightgray;
}
body {
  min-height: 100vh;
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
}
header {
  padding: 1rem 2rem;
}
main {
  padding: 1rem 2rem;
}
footer {
  padding: 1rem 2rem;
}
h1 {
  color: tomato;
}
img {
  width: 100%;
}
.top-nav,
.footer-nav {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
a.top-nav {
  color: lightgray;
}
a.footer-nav {
  color: tomato;
}
.article-title {
  font-size: 50px;
}
a.continues {
  display: block;
  text-align: right;
  font-weight: bold;
  color: tomato;
}
article {
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}
p::first-letter {
  float: left;
  font-size: 4rem;
  font-weight: bold;
  color: lightgrey;
  margin: 2.5px 10px;
}
.copyright {
  color: lightgray;
}
